footer
    .container
        .row.justify-content-between.overflow-hidden
            .col-xs-4
                .row.overflow-hidden
                    .col-xs-6
                         p.footer-font Say Hello-
                    .col-xs-6.pt-20
                         a.footer-link(href="https://www.google.com/") hi@dinks.com
            .col-xs-4
                .row
                    .col-xs-6
                        p.footer-font Follow us
                    .col-xs-6.pt-20
                        ul.pr-30
                            li
                                i.fab.fa-instagram
                            li
                                i.fab.fa-facebook
                            li
                                i.fab.fa-twitter