header
    .container
        img.mt-240(src='./images/image.png')
        ul.pl-0.d-flex.justify-content-between.flex-column.flex-md-row
            li Beer
            li Coffee/tea
            li Coctail
            li Cocoa
            li Milk/Float/Shake
            li Shots
            li Panch/Party drink
            li Homemade Liqueur

