header
    .container.pr-0
        img.mt-240.col-2(src='./images/image.png')
        ul.pl-0.d-flex.align-items-center.flex-column.flex-md-row.justify-content-md-between
            li.active Beer
            li Coffee/tea
            li Coctail
            li Cocoa
            li Milk/Float/Shake
            li Shots
            li Panch/Party drink
            li Homemade Liqueur

