images
    .container
        .row
            .col-xs-12.col-sm-12.col-md-4.bg__zinger
                img.img-fluid(src="https://github.com/daftcode/daftacademy-frontend_levelup-spring2019/blob/master/prace_domowe/lekcja_2/projekt_graficzny/assets/zinger.jpg?raw=true")
                .bg__text
                    span zinger
            .col-xs-12.col-sm-12.col-md-4.bg__bijou
                img.img-fluid(src="https://github.com/daftcode/daftacademy-frontend_levelup-spring2019/blob/master/prace_domowe/lekcja_2/projekt_graficzny/assets/bijou.jpg?raw=true")
                .bg__text
                    span bijou
            .col-xs-12.col-sm-12.col-md-4.bg__mojito
                img.img-fluid(src="https://github.com/daftcode/daftacademy-frontend_levelup-spring2019/blob/master/prace_domowe/lekcja_2/projekt_graficzny/assets/mojito.jpg?raw=true")
                .bg__text
                    span mojito
            .col-xs-12.col-sm-12.col-md-4.bg__negroni
                img.img-fluid(src="https://github.com/daftcode/daftacademy-frontend_levelup-spring2019/blob/master/prace_domowe/lekcja_2/projekt_graficzny/assets/negroni.jpg?raw=true")
                .bg__text
                    span negroni
            .col-xs-12.col-sm-12.col-md-4.bg__rattlesnake
                img.img-fluid(src="https://github.com/daftcode/daftacademy-frontend_levelup-spring2019/blob/master/prace_domowe/lekcja_2/projekt_graficzny/assets/rattlesnake.jpg?raw=true")
                .bg__text
                    span texas rattlesnake
            .col-xs-12.col-sm-12.col-md-4.bg__eggnogg
                img.img-fluid(src="https://github.com/daftcode/daftacademy-frontend_levelup-spring2019/blob/master/prace_domowe/lekcja_2/projekt_graficzny/assets/eggnogg.jpg?raw=true")
                .bg__text
                    span eggnogg
            .col-xs-12.col-sm-12.col-md-4.bg__eggnogg
                img.img-fluid(src="https://github.com/daftcode/daftacademy-frontend_levelup-spring2019/blob/master/prace_domowe/lekcja_2/projekt_graficzny/assets/eggnogg.jpg?raw=true")
                .bg__text
                    span eggnogg
